name: Build

on:
    push:
        branches: ["**"]
        tags-ignore: ["**"]
    release:
        types: [published]
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Setup Java JDK
              uses: actions/setup-java@v4
              with:
                  java-version: 21
                  distribution: temurin

            - name: Gradle Wrapper Validation
              uses: gradle/actions/wrapper-validation@v4

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v4
              with:
                cache-read-only: false

            - name: Gradle Build
              run: ./gradlew build

            - name: Upload Artifacts
              uses: actions/upload-artifact@v4
              with:
                name: noxesium-artifacts
                path: "**/build/libs/*.jar"

            - name: Determine Status
              run: |
                  if [ "$(./gradlew properties | awk '/^mod_version:/ { print $2; }' | grep '\-SNAPSHOT')" ]; then
                    echo "STATUS=snapshot" >> $GITHUB_ENV
                  else
                    echo "STATUS=release" >> $GITHUB_ENV
                  fi

            - name: Publish Snapshot
              if: "${{ env.STATUS != 'release' && github.event_name == 'push' }}"
              run: ./gradlew publish
              env:
                  NOXCREW_MAVEN_PUBLIC_USERNAME: ${{ secrets.NOXCREW_MAVEN_PUBLIC_USERNAME }}
                  NOXCREW_MAVEN_PUBLIC_PASSWORD: ${{ secrets.NOXCREW_MAVEN_PUBLIC_PASSWORD }}

            - name: Publish Release
              if: "${{ env.STATUS == 'release' && github.event_name == 'release' }}"
              run: ./gradlew publish
              env:
                  NOXCREW_MAVEN_PUBLIC_USERNAME: ${{ secrets.NOXCREW_MAVEN_PUBLIC_USERNAME }}
                  NOXCREW_MAVEN_PUBLIC_PASSWORD: ${{ secrets.NOXCREW_MAVEN_PUBLIC_PASSWORD }}
